<!-- {% extends 'base.html' %} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>hello from home head </h1>
</head>
<body>
    <h1>hello {{name}}</h1>
    <h1>hello from home body</h1>
    <form action="add">
        enter num1:<input type="text" name="num1" id="num1" placeholder="num1"><br><br>
        enter num2: <input type="text" name="num2" id="num2" placeholder="num2">
        <input type="submit" >
    </form>
</body>
</html>